<html>
    <head>
        <title>FourFramework</title>
        {{ APP.template.header | raw }}
    </head>
    <body class="bg-white dark:bg-slate-800 dark:text-white p-3 text-black">
        {{ APP.template.body | raw }}
        <div class="content" data-load="{{ APP.here }}">
            {{ content | raw }}
        </div>
        {{ APP.template.footer | raw }}
    </body>
</html>