<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#dbdebugmodal">{{ __('micro-framework.debug.sqlTable') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#configmodal">{{ __('micro-framework.debug.configTable') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#translationmodal">{{ __('micro-framework.debug.translation') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#kernelmodal">{{ __('micro-framework.debug.kernel') }}</a>
                </li>
            </ul>
            <span class="navbar-text">
                {{ site_load.end }}s
            </span>
        </div>
    </div>
</nav>

<div class="modal fade" id="dbdebugmodal" tabindex="-1" aria-labelledby="dbdebugmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dbdebugmodallabel">{{ __('micro-framework.debug.databaseConfig') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ sqlListTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="configmodal" tabindex="-1" aria-labelledby="configmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="configmodallabel">{{ __('micro-framework.debug.config') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ configTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="translationmodal" tabindex="-1" aria-labelledby="translationmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="translationmodallabel">{{ __('micro-framework.debug.translation') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ translationTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kernelmodal" tabindex="-1" aria-labelledby="kernelmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="kernelmodallabel">{{ __('micro-framework.debug.kernel') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ kernelTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>