<div class="mt-5"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#servermodal">{{ __('micro-framework.debug.server.title') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#accountmodal">{{ __('micro-framework.debug.account.title') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#dbdebugmodal">{{ __('micro-framework.debug.sqlTable') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#translationmodal">{{ __('micro-framework.debug.translation') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#kernelmodal">{{ __('micro-framework.debug.kernel') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#tablemodal">{{ __('micro-framework.debug.table') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#envmodal">{{ __('micro-framework.debug.env') }}</a>
                </li>
            </ul>
            <span class="navbar-text">
                {{ site_load.end }}s
            </span>
        </div>
    </div>
</nav>

<div class="modal fade" id="accountmodal" tabindex="-1" aria-labelledby="accountmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="accountmodallabel">{{ __('micro-framework.debug.account.title') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if accountTable is not empty %}
                <div class="modal-body p-0">
                    {{ accountTable|raw }}
                </div>
            {% else %}
                <div class="modal-body">
                    {{ __('micro-framework.debug.account.not_logged') }}
                </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dbdebugmodal" tabindex="-1" aria-labelledby="dbdebugmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dbdebugmodallabel">{{ __('micro-framework.debug.databaseConfig') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ sqlListTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="translationmodal" tabindex="-1" aria-labelledby="translationmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="translationmodallabel">{{ __('micro-framework.debug.translation') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ translationTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kernelmodal" tabindex="-1" aria-labelledby="kernelmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="kernelmodallabel">{{ __('micro-framework.debug.kernel') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ kernelTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tablemodal" tabindex="-1" aria-labelledby="tablemodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tablemodallabel">{{ __('micro-framework.debug.table') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ tablesTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="envmodal" tabindex="-1" aria-labelledby="tableenvlabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tableenvlabel">{{ __('micro-framework.debug.env') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ envTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="servermodal" tabindex="-1" aria-labelledby="tableserverlabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tableserverlabel">{{ __('micro-framework.debug.server.title') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                {{ serverInfoTable|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('micro-framework.modal.close') }}</button>
            </div>
        </div>
    </div>
</div>